<% include ./../layout/start %>

<div class="small-12 column">
  <hr>
  <br><br><br>
  <div class="text-sm">AquaVolta is being founded by two Bay Area California kiteboarders and engineers who wanted to contribute to the growth of the sport they love. Whether they're out on the water or in their shop in the East Bay, they're living life to the fullest. If you see them out on the water, they'd love to meet you!</div>

  <br><br><br>
  <hr>

  <br><br><br><br>
  <div class="row">
    <div class="column medium-7">
      <h2>Mike Thielvoldt</h2><h3 class="about-me-role">Co-Founder</h3>
      <div class="text-sm">I've been kiteboarding for 13 years. I grew up in the Bay Area and really love the kiteboarding community here. I'm a mechanical engineer and artist who would love to see a whole beach full of illuminated kites dancing in the night sky.</div>      
      <br><br>
    </div>
    <div class="column medium-5">
      <img class="border-dark" src="/resources/images/mike-at-sea-thin.jpg">
      <br><br>
    </div>
  </div>
  <br><br><br><br>
  <div class="row">
    <div class="column medium-7 right">
      <h2>Kim Harrison</h2><h3 class="about-me-role">Co-Founder</h3>
      <div class="text-sm">I've been kiteboarding for 5 years. I've lived in the bay area for 7 years and love the mixture of city and nature. I've had enough sunset sessions at 3rd Avenue and Sherman to know that glow sticks and headlamps just won't help me find my board in the dark. I'm a mechanical engineer and problem solver, so let's make some light.</div>      
      <br><br>
    </div>
    <div class="column medium-5">
      <img class="border-dark" src="/resources/images/kim-action.jpg">
      <br><br>
    </div>
  </div>


</div>
<% include ./../layout/end %>