<% include ./../layout/start %>

<div class="small-12 column">
  <hr>
  <br><br><br>
  <div class="text-sm">AquaVolta is being founded by two California Bay Area kiteboarders and engineers who want to contribute to the growth of the sport they love. Whether they're out on the water or in their East Bay shop, they're living life to the fullest. If you see them out there they'd love to meet you!</div>

  <br><br><br>
  <hr>

  <br><br><br><br>
  <div class="row about-us-item">
    <div class="column medium-7">
      <h2>Mike Thielvoldt</h2><h3 class="about-me-role">Co-Founder</h3>
      <div class="text-sm">A kite dragged my body in water for the first time thirteen years ago and I've been hooked ever since. I grew up in the Bay Area and I really love the kiteboarding community here. I'm a mechanical engineer and artist who would love to see a whole beach full of illuminated kites dancing in the night sky.</div>
      <br><br>
    </div>
    <div class="column medium-5">
      <img class="border-dark" src="/resources/images/mike-at-sea-thin.jpg">
      <br><br>
    </div>
  </div>
  <br><br><hr><br><br><br><br>
  <div class="row about-us-item">
    <div class="column medium-7 right">
      <h2>Kim Harrison</h2><h3 class="about-me-role">Co-Founder</h3>
      <div class="text-sm">I started kiteboarding shortly after arriving in the Bay Area. The mixture of city and nature has kept me here for around seven years now. Sunset sessions at 3rd Ave. and Sherman have taught me that glow sticks and headlamps just don't help me find my board in the dark. I'm a mechanical engineer and problem solver, so let's make some light.</div>
    <br><br>
    </div>
    <div class="column medium-5">
      <img class="border-dark" src="/resources/images/kim-action.jpg">
      <br><br>
    </div>
  </div>


</div>
<% include ./../layout/end %>