<% include ./../layout/start %>

<div class="small-12 column">
  <div class="row">
    <div class="small-12 medium-6 column">
      <img class="border-dark" src="/resources/images/boardlight-sunset.jpg">
      <br><br>
    </div>
    <div class="small-12 medium-6 column">
      <img class="border-dark" src="/resources/images/boardlight-water-reflection.jpg">
    </div> 

    <div class="small-12 column">
      <br><br><br>

      <div>
        <h2>Need another excuse to try some board off maneuvers?</h2>    
      </div>
      <br>

      <div class="text-sm">The AquaVolta Boardlight system includes a light on the topside of the board (Footlight) and a light inside the fin (Finlight), so your board will be visible in any orientation.
      Boost big with confidence and eye-popping style, and keep an eye on your equipment no matter how the landing goes.</div>      

    </div>

  </div>


</div>
<% include ./../layout/end %>