<% include ./../layout/start %>

<div class="small-12 column">
  <hr>
  <br><br><br>

  <div class="row">

    <div class="small-12 column">
      <div>
        <h2>Need another excuse to try some board-off maneuvers?</h2>
      </div>
      <br/><br/>
    </div>

    <div class="small-12 column">
      <div class="text-sm">The AquaVolta Boardlight system includes a light on the topside of the board (Footlight) and a light inside the fin (Finlight), so your board will be visible in any orientation.
      Boost big with confidence and eye-popping style, and keep an eye on your equipment no matter how the landing goes.</div>
      <br/><br/><br/><br/>
    </div>

    <div class="small-12 medium-5 column">
      <div
        class="contained-image border-dark"
        style="background-image: url('/resources/images/boardlight-board-on-bridge.jpg')"
      ></div>
      <br/><br/>
    </div>
    <div class="small-12 medium-7 column">
      <div
        class="contained-image border-dark"
        style="background-image: url('/resources/images/boardlight-fin-closeup.jpg')"
      ></div>
    </div>

  </div>


</div>
<% include ./../layout/end %>