<% include ./../layout/start %>
<div class="small-12 column">
  <div class="relative">
    <img class="border-dark" src="./resources/images/mike-at-sea-thin.jpg">
    <div class="overlay show-for-medium-up">
      <div class="overlay-content">
        <h2 class="text-thin text-white">Kite at night<br>with style.</h2>
      </div>
    </div>
    <div class="border-dark border-top-none width-full text-center show-for-small-only">
      <br>
      <div class="text-thin">
        <span>&nbsp;</span><h2>Kite at night with style.</h2><span>&nbsp;;</span>
      </div>
      <br>
    </div>
  </div>
  <br><br><br>
  <div class="hide-for-small-only"><br></div>
</div>

<div class="small-12 column">
  <div class="text-sm">Catch that last bit of wind as the sun goes down. Ride into the night. AquaVolta has you covered with our constellation of lighted gear enhancements to help you look awesome and stay visible.</div>
  <br><br><br><br><br><br>
</div>  

<div class="small-12 medium-8 medium-offset-2 left column text-center">
  <% include ./../components/mailchimp.ejs %>
</div>
<br><br><br><br>
<% include ./../layout/end %>