<% include ./../layout/start %>
<div class="small-12 column">
  <div class="relative">
    <img class="border-dark" src="./resources/images/mike-at-sea-thin.jpg">
    <div class="overlay show-for-medium-up">
      <div class="overlay-content">
        <h2 class="text-thin text-white">Kite at night<br>in style.</h2>
      </div>
    </div>
    <div class="border-dark border-top-none width-full text-center show-for-small-only">
      <br>
      <div class="text-thin">
        <span>&nbsp;</span><h2>Kite at night with style.</h2><span>&nbsp;;</span>
      </div>
      <br>
    </div>
  </div>
  <br><br><br>
  <div class="hide-for-small-only"><br></div>
</div>

<div class="small-12 column">
  <div class="text-center">
    <h3>Catch that last bit of wind as the sun goes down.</h3>
    <br>
    <h3>Ride into the night.</h3>
    <br>
    <h3>Look awesome and stay visible.</h3>
    </div>
  <br><br><br><br><br><br>
</div>

<div class="small-12 medium-8 medium-offset-2 left column text-center">
  <% include ./../components/mailchimp.ejs %>
</div>
<br><br><br><br>
<% include ./../layout/end %>
