<% include ./../layout/start %>

<div class="small-12 column">
  <div class="row">
    <div class="small-12 column">
      <hr>
      <br><br>
      <div>
        <h2>The wind won't be the only reason you look lit!</h2>          
      </div>
      <br>
      <div class="text-sm">Illuminate your kite and surroundings with the AquaVolta Winglight. Adjustable lights illuminate the area around you and your kite. Bring the daylight with you on the water, and experience the sport you love in a new light!</div>
      <br><br><br><br>
    </div>

    <div class="small-7 column">
      <div class="text-sm">
        <div>Features also include: </div>
        <ul>
          <li>Waterproof enclosure opens to allow adjustment of light direction</li>
          <li>Enclosure attaches to the leading edge and a strut for a stable, secure connection to the kite</li>
          <li>Choose the color of the kite illumination lights to match your style</li>
          <li>Choose the brightness of the spotlight and kite illumination lights to suit your needs</li>
          <li>Accelerometers can detect rider's tack and illuminate the correct side, thus saving energy and preventing the LEDs from blinding others</li>

        </ul>
      </div>      
    </div>

    <div class="small-5 column">
      <img class="border-dark" src="/resources/images/winglight-on-land.jpg">
    </div>

  </div>


</div>
<% include ./../layout/end %>