$gray-dark: #444;
$gray-md: #999;

.text-white {
  color: #fff;
}

.text-dark {
  color: $gray-dark;
}

.bg-dark {
  background-color: $gray-dark;
}

.border-dark {
  border: 1px solid $gray-md;
}

.border-top-none {
  border-top: none;
}

.text-thin {
  font-weight: 100;
  letter-spacing: 0.06em;
}