$fa-font-path: "./../fonts";
@import "./../../node_modules/zurb-foundation-5/scss/foundation/components/grid";
@import "./../../node_modules/zurb-foundation-5/scss/foundation/components/visibility";
@import "./../../node_modules/zurb-foundation-5/scss/normalize";
@import "./../../node_modules/font-awesome/scss/font-awesome";

@import "base";
@import "colors";
@import "components/contact-icons";
@import "components/overlay";
@import "components/about-us-item";

body {
  @extend .text-dark;

  font-family: 'Dosis', helvetica, arial, sans-serif;
  padding-bottom: 20px;

  font-size: 6px;
  min-width: 280px;
}

a:hover, a.active {
  text-decoration: underline;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 22px;
}

.text-md {
  font-size: 22px;
}

.text-sm {
  font-size: 20px;
}

.title {
  font-size: 48px;
  @extend .text-thin;

}

#page-title {
  @extend .title;
}

table {
  @extend .width-full;
}

tr {
  vertical-align: baseline;
}

.about-me-role {
  margin-left: 1.5rem;
  font-style: italic;
}

#bottom-gutter {
  width: 100%;
  height: 50px;
}

#mc_embed_signup {
  font-size: 18px;
  font-weight: 100;

  * {
    text-align: center;
  }

  form {
    padding: 0;
  }

  input {
    margin: 0;
  }
}