#contact-icons {
  font-size: 30px;
  @extend .text-white;
  text-align: center;

  .icon {
    @extend .fa-stack;

    .fa-stack-1x {
      @extend .text-dark;
    }
  }

  .fa-envelope-o {
    margin-top: -0.02em;
  }
}