    </div>

    <br><br><br><br><br>
    <div class="bg-dark">
        <div class="row">
            <div class="small-12 column">
                <br>
                <div id="contact-icons">
                <a href="mailto:mthielvoldt@gmail.com" class="icon">
                  <i class="fa fa-fw fa-stack-2x fa-circle"></i>
                  <i class="fa fa-fw fa-stack-1x fa-envelope-o"></i>
                </a>
                <span>&nbsp;</span>
                <a href="https://www.facebook.com/Kite-Lite-1671671223046199/" class="icon">
                  <i class="fa fa-fw fa-stack-2x fa-circle"></i>
                  <i class="fa fa-fw fa-stack-1x fa-facebook"></i>
                </a>
                </div>
                <br>
                <!-- <hr> -->
            </div>
        </div>
    </div>
    <br>
    <% include analytics.ejs %>

    </body>
</html>